/* 
    Created on : Apr 26, 2021, 6:14:20 PM
    Author     : NDungx
*/

body {
    background-color: #F1F1F1;
}

.logoThankYou {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    margin-bottom: 3%;
    margin-top: 3%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
    background-color: white;
    margin-bottom: 10%;
}

.topInvoice {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-top: 2rem;
}

.boxInvoice .row {
    margin-left: 0px;
    margin-right: 0px;
}

th {
    height: 60px;
    background-color: #F1F1F1;
}

td {
    height: 40px;
}